<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Tasks list</h4>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
            <th>ID</th>
            <th>Title</th>
            <th>Completed</th>
            <th>Priority</th>
            <th>Category</th>
            <th>Date</th>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks">
                <td>{{task.id}}</td>
                <td>{{task.title}}</td>
                <td>{{task.completed}}</td>
                <td>{{task.priority}}</td>
                <td>{{task.category}}</td>
                <td>{{task.date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>